@model TravelJurnal.Models.TravellerProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravellerProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravellerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravellerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravellerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravellerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TravellerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
